<div class="page-header">
  <h2>Cotas</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Administradora</th>
      <th>Crédito</th>
      <th>Entrada</th>
      <th>Parcelas</th>
      <th>Observações</th>
      <th>Juros</th>
      <th>Percentual</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cota of cotas">
      <td>{{cota.administradora}}</td>
      <td>{{cota.credito | currency:'R$'}}</td>
      <td>{{cota.entrada | currency:'R$'}}</td>
      <td>{{cota.parcelas + " (" + (cota.totalParcelas | currency:'R$') + ")"}}</td>
      <td>{{cota.observacoes + (cota.totalObservacoes > 0 ? " (" + (cota.totalObservacoes | currency:'R$') + ")" : "") }}</td>
      <td>{{cota.juros | currency:'R$'}}</td>
      <td>{{cota.percentual + "%"}}</td>
      <td><a [href]="cota.link">Ver</a></td>
    </tr>
  </tbody>
</table>